<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yunbao.im">

    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <application
        android:allowBackup="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MediaCallActivity"
         android:launchMode="singleInstance"
            >
        </activity>
        <activity
            android:name=".activity.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SystemMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChatRoomActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".activity.LocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChatChooseImageActivity"
            android:screenOrientation="portrait" /> <!-- 腾讯IM -->
        <service
            android:name="com.tencent.imsdk.session.remote.SessionService"
            android:process=":network" /> <!-- 消息收发辅助 service -->
        <service
            android:name="com.tencent.imsdk.session.remote.AssistService"
            android:process=":network" />
        <service
            android:name="com.tencent.imsdk.session.remote.KeepAliveJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":network" /> <!-- 离线消息广播接收器 -->
        <receiver android:name="com.tencent.imsdk.session.SessionBroadcastReceiver">
            <intent-filter>
                <action android:name="com.tencent.imsdk.session.boot" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>


        <service
            android:name=".service.CallService"
            android:enabled="true" />

    </application>

</manifest>