<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wanyue.live">

    <application
        android:allowBackup="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.WindowActivity"
            android:launchMode="singleTop"
            ></activity>
        <activity android:name=".activity.LiveStoreActivity" />
        <activity android:name=".activity.LiveReportActivity" />
        <activity
            android:name=".activity.LiveAnchorActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LiveActvivityTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".activity.LiveAudienceActivity"
            android:configChanges="screenLayout|orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/LiveActvivityTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".activity.LiveChooseClassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LiveContributeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LiveRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LiveRecordPlayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RoomManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RoomManageDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LiveAdminListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LiveShutUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LiveBlackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LiveGoodsAddActivity"
            android:screenOrientation="portrait" /> <!-- Android 9.0移除了apache的HttpClient，而金山sdk中用到了这个，不加这个的话在Android 9.0会崩溃 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.REORDER_TASKS" />

</manifest>